<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.apache.cordova.xinge"
    version="3.1.2">
    <name>Xinge</name>
    <description>Cordova Xinge Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,xinge</keywords>
    <repo>https://github.com/hroze/xinge-cordova.git</repo>
    <issue></issue>

	<preference name="XG_V2_ACCESS_ID" />
	<preference name="XG_V2_ACCESS_KEY" />
    <js-module src="www/Xinge.js" name="Xinge">
        <clobbers target="Xinge" />
    </js-module>

    
    
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Xinge">
                <param name="android-package" value="org.apache.cordova.xinge.Xinge"/>
            </feature>
			<preference name="XG_V2_ACCESS_ID" value="$XG_V2_ACCESS_ID" />
			<preference name="XG_V2_ACCESS_KEY"  value="$XG_V2_ACCESS_KEY" />
        </config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<receiver android:name="com.tencent.android.tpush.XGPushReceiver" android:process=":xg_service_v3" >
			<intent-filter android:priority="0x7fffffff" >
				<!-- 【必须】 信鸽SDK的内部广播 -->
				<action android:name="com.tencent.android.tpush.action.SDK" />
				<action android:name="com.tencent.android.tpush.action.INTERNAL_PUSH_MESSAGE" />
				<!-- 【必须】 系统广播：开屏和网络切换 -->
				<action android:name="android.intent.action.USER_PRESENT" />
				<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
				<!-- 【可选】 一些常用的系统广播，增强信鸽service的复活机会，请根据需要选择。当然，你也可以添加APP自定义的一些广播让启动service -->
				<action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
				<action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
				<action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
				</intent-filter>
			</receiver>
			<!-- 【可选】APP实现的Receiver，用于接收消息透传和操作结果的回调，请根据需要添加 -->
 			<!-- YOUR_PACKAGE_PATH.CustomPushReceiver需要改为自己的Receiver： -->
			<receiver android:name="org.apache.cordova.xinge.XGPushCordovaReceiver"  android:exported="true">
				<intent-filter>
					<!-- message  -->
					<action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE" />
					<!-- other event -->
					<action android:name="com.tencent.android.tpush.action.FEEDBACK" />
				</intent-filter>
			</receiver>
			<!-- 【注意】 如果被打开的activity是启动模式为SingleTop，SingleTask或SingleInstance，请根据通知的异常自查列表第8点处理-->
			<activity android:name="com.tencent.android.tpush.XGPushActivity" android:exported="false" >
					<intent-filter>
					<!-- 若使用AndroidStudio，请设置android:name="android.intent.action"-->
						<action android:name="android.intent.action" />
					</intent-filter>
			</activity>
			<!-- 【必须】 信鸽service -->
			<service
				android:name="com.tencent.android.tpush.service.XGPushServiceV3"
				android:exported="true"
				android:persistent="true"
				android:process=":xg_service_v3" />
			<!-- 【必须】 提高service的存活率 -->
			<service
				android:name="com.tencent.android.tpush.rpc.XGRemoteService"
				android:exported="true">
				<intent-filter>
				<!-- 【必须】 请修改为当前APP包名 .PUSH_ACTION, 如demo的包名为：com.qq.xgdemo -->
						<action android:name="$PACKAGE_NAME.PUSH_ACTION" />
				</intent-filter>
			</service>
			<!-- 【必须】 【注意】authorities修改为 包名.AUTH_XGPUSH, 如demo的包名为：com.qq.xgdemo-->
			<provider
				android:name="com.tencent.android.tpush.XGPushProvider"
				android:authorities="$PACKAGE_NAME.AUTH_XGPUSH"
				android:exported="true"/>
			<!-- 【必须】 【注意】authorities修改为 包名.TPUSH_PROVIDER, 如demo的包名为：com.qq.xgdemo-->
			<provider
				android:name="com.tencent.android.tpush.SettingsContentProvider"
				android:authorities="$PACKAGE_NAME.TPUSH_PROVIDER"
				android:exported="false" />
			 <!-- 【必须】 【注意】authorities修改为 包名.TENCENT.MID.V3, 如demo的包名为：com.qq.xgdemo-->
			<provider
				android:name="com.tencent.mid.api.MidProvider"
				android:authorities="$PACKAGE_NAME.TENCENT.MID.V3"
				android:exported="true" >
			</provider>
			<meta-data android:name="XG_V2_ACCESS_ID" android:value="$XG_V2_ACCESS_ID" />
			<meta-data android:name="XG_V2_ACCESS_KEY" android:value="$XG_V2_ACCESS_KEY" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
			<!-- 【必须】 信鸽SDK所需权限   -->
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.READ_PHONE_STATE" />
			<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			<uses-permission android:name="android.permission.WAKE_LOCK" />
			<uses-permission android:name="android.permission.VIBRATE" />
			<!-- 【常用】 信鸽SDK所需权限 -->
			<uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
			<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.WRITE_SETTINGS" />
			<!-- 【可选】 信鸽SDK所需权限 -->
			<uses-permission android:name="android.permission.RESTART_PACKAGES" />
			<uses-permission android:name="android.permission.BROADCAST_STICKY" />
			<uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
			<uses-permission android:name="android.permission.GET_TASKS" />
			<uses-permission android:name="android.permission.READ_LOGS" />
			<uses-permission android:name="android.permission.BLUETOOTH" />
			<uses-permission android:name="android.permission.BATTERY_STATS" /><!-- 【必须】 信鸽SDK所需权限   -->
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.READ_PHONE_STATE" />
			<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			<uses-permission android:name="android.permission.WAKE_LOCK" />
			<uses-permission android:name="android.permission.VIBRATE" />
			<!-- 【常用】 信鸽SDK所需权限 -->
			<uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
			<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.WRITE_SETTINGS" />
			<!-- 【可选】 信鸽SDK所需权限 -->
			<uses-permission android:name="android.permission.RESTART_PACKAGES" />
			<uses-permission android:name="android.permission.BROADCAST_STICKY" />
			<uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
			<uses-permission android:name="android.permission.GET_TASKS" />
			<uses-permission android:name="android.permission.READ_LOGS" />
			<uses-permission android:name="android.permission.BLUETOOTH" />
			<uses-permission android:name="android.permission.BATTERY_STATS" />
        </config-file>

        <source-file src="src/android/Xinge.java" target-dir="src/org/apache/cordova/xinge" />
		<source-file src="src/android/XGPushCordovaReceiver.java" target-dir="src/org/apache/cordova/xinge" />
		<source-file src="src/android/libs/jg_filter_sdk_1.1.jar" target-dir="libs/" />
		<source-file src="src/android/libs/mid-core-sdk-3.9.0.jar" target-dir="libs/" />
		<source-file src="src/android/libs/wup-1.0.0.E-SNAPSHOT.jar" target-dir="libs/" />
		<source-file src="src/android/libs/Xg_sdk_v3.12_20171113_1059.jar" target-dir="libs/" />
		<source-file src="src/android/libs/android-support-v4.jar" target-dir="libs/" />
		<source-file src="src/android/libs/armeabi/libtpnsSecurity.so" target-dir="libs/armeabi/" />
		<source-file src="src/android/libs/armeabi/libxguardian.so" target-dir="libs/armeabi/" />
		<source-file src="src/android/libs/armeabi-v7a/libtpnsSecurity.so" target-dir="libs/armeabi-v7a/" />
		<source-file src="src/android/libs/armeabi-v7a/libxguardian.so" target-dir="libs/armeabi-v7a/" />

     </platform>

     <!-- ios 
     <platform name="ios">
         <config-file target="config.xml" parent="/*">
             <feature name="Camera">
                 <param name="ios-package" value="CDVCamera" />
             </feature>
         </config-file>

         <js-module src="www/ios/CameraPopoverHandle.js" name="CameraPopoverHandle">
            <clobbers target="CameraPopoverHandle" />
         </js-module>

         <header-file src="src/ios/CDVCamera.h" />
         <source-file src="src/ios/CDVCamera.m" />
         <header-file src="src/ios/CDVJpegHeaderWriter.h" />
 	     <source-file src="src/ios/CDVJpegHeaderWriter.m" />
 	     <header-file src="src/ios/CDVExif.h" />
 	     <framework src="ImageIO.framework" weak="true" />
 	     <framework src="CoreLocation.framework" />
 	     <framework src="CoreGraphics.framework" />
 	     <framework src="AssetsLibrary.framework" />
         <framework src="MobileCoreServices.framework" />
     </platform>
	 -->


</plugin>
